pipeline/Sample - Get Parameters to Synapse Spark Notebook.json
{
	"name": "Sample - Get Parameters to Synapse Spark Notebook",
	"properties": {
		"activities": [
			{
				"name": "Sample",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Sample - Get Parameters from Pipeline",
						"type": "NotebookReference"
					},
					"parameters": {
						"StorageAccount": {
							"value": "asadatalakelab8",
							"type": "string"
						},
						"SourceSystemName": {
							"value": "sale-csv",
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "SparkPool01",
						"type": "BigDataPoolReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Sample",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NotebookOutput",
					"value": {
						"value": "@activity('Sample').output.status.Output.result.exitValue",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"NotebookOutput": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-03-09T21:52:43Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}